RewriteEngine on
RewriteRule ^error.php$ $0 [L,QSA]
RewriteRule ^(application|framework|log|api) - [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/([0-9]+)/(.*)$ index.php?pageCode=$2&id=$3&$4 [NC,L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/(.*)$ index.php?pageCode=$2&$3 [NC,L]
RewriteRule ^([a-zA-Z_]+)/([0-9]+)/(.*)$ index.php?pageCode=$1&id=$2&$3 [NC,L]
RewriteRule ^([0-9]+)/(.*)$ index.php?pageCode=$1&$2 [NC,L]
RewriteRule ^([a-zA-Z_]+)/(.*)$ index.php?pageCode=$1&$2 [NC,L]
RewriteRule ^(.*)$ index.php?$1 [QSA,NC,L]
